@charset "UTF-8";
/******** Import des paramètres ********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

picture img,
picture source {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/******** Couleurs ********/
/******** Police ********/
/******** Epaisseur police ********/
/******** Taille police ********/
/******** Responsive / Définition de la taille ********/
/******** Paramètres par défaut ********/
/******** Header par défaut ********/
/******** Button ********/
/******** Coeur animation ********/
@keyframes heartfill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes heartfade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/******** Footer ********/
/******** Menu page restaurant ********/
/******** Slide plat ********/
.slider {
  background-color: #99e2d0;
  width: 20%;
  height: 100%;
  position: absolute;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  cursor: pointer;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10px;
  transition: transform 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
}

.slider-tick-icon {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.tick {
  color: #99e2d0;
}

.plat-container:hover .slider {
  right: 0; /* Slide in from the right */
}
.plat-container:hover .slider .tick {
  animation: rotate 0.5s linear forwards;
  -webkit-animation: rotate 0.5s linear forwards;
  -moz-animation: rotate 0.5s linear forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/******** Header ********/
.header-box {
  width: 100%;
  height: 70px;
  font-family: "Shrikhand", sans-serif;
  font-size: 25px;
  color: black;
  text-align: center;
  text-decoration: none;
  padding-top: 20px;
  position: relative;
  box-shadow: 0px 0px 10px 0px black;
  text-align: center;
  position: relative;
}
.header-box .arrowicon {
  position: absolute;
  color: black;
  bottom: 11px;
  left: 16px;
}
.header-box .arrowicon :hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .header-box .arrowicon {
    bottom: 16px;
  }
}
@media (min-width: 1024px) {
  .header-box .arrowicon {
    left: 25px;
    bottom: 16px;
  }
}
@media (min-width: 1200px) {
  .header-box .arrowicon {
    left: 20px;
    bottom: 16px;
  }
}

.location-section {
  width: 100%;
  height: auto;
  text-align: center;
}
.location-section .location-box {
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
  background-color: rgba(225, 227, 236, 0.9803921569);
}
.location-section .location-txt {
  text-align: center;
  border: none;
  outline: none;
  margin-top: 20px;
  background-color: rgba(225, 227, 236, 0.9803921569);
}

/******** Presentation ********/
.presentation-box {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 10px;
  background-color: rgb(241, 242, 243);
}
.presentation-box .rst-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
}

.prst-btn {
  width: 218px;
  height: 50px;
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  background-color: #9356dc;
  border-radius: 39px;
  color: white;
  text-align: center;
  border: hidden;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 2s ease;
  margin-top: 20px;
  margin-bottom: 20px;
}
.prst-btn:hover {
  cursor: pointer;
  background: linear-gradient(to bottom, #ff79da, #c9abee);
  background-color: #c9abee;
  box-shadow: 0px 4px 6px rgb(48, 44, 44);
}
.prst-btn:active {
  background: linear-gradient(to bottom, #ff79da, #c9abee);
  background-color: #c9abee;
  box-shadow: 0px 4px 6px rgb(48, 44, 44);
}

/******** Fonctionnement ********/
.fonctionnement {
  width: 100%;
  height: auto;
  background-color: white;
}
@media (min-width: 768px) {
  .fonctionnement {
    padding-bottom: 25px;
  }
}
@media (min-width: 1024px) {
  .fonctionnement {
    padding-bottom: 25px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.fonctionnement .fct-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-top: 10px;
  padding-left: 20px;
}
@media (min-width: 1024px) {
  .fonctionnement .fct-title {
    text-align: start;
  }
}

.fct-btns {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: 10px;
  gap: 7%;
}
@media (min-width: 1024px) {
  .fct-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .fct-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.fct-btns .fct-btn {
  width: 350px;
  height: 70px;
  border-radius: 25px;
  background-color: rgb(241, 242, 243);
  border: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  position: relative;
}
.fct-btns .fct-btn-number {
  width: 20px;
  height: 20px;
  background-color: #9356dc;
  border-radius: 20px;
  color: white;
  position: absolute;
  left: -9px;
  padding-top: 2px;
}

/******** Restaurants ********/
.restaurants-box {
  width: 100%;
  background-color: rgb(241, 242, 243);
  margin-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 1024px) {
  .restaurants-box {
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 110px;
  }
}
@media (min-width: 1200px) {
  .restaurants-box {
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 110px;
  }
}
.restaurants-box .restaurants-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding-top: 20px;
  padding-left: 20px;
}
@media (min-width: 1024px) {
  .restaurants-box .restaurants-title {
    text-align: start;
  }
}
.restaurants-box .restaurant-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
@media (min-width: 1024px) {
  .restaurants-box .restaurant-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
}
@media (min-width: 1920px) {
  .restaurants-box .restaurant-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
}
.restaurants-box .rst-card {
  max-width: 340px;
  height: 250px;
  background-color: white;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 0px gray;
  position: relative;
}
@media (min-width: 1024px) {
  .restaurants-box .rst-card {
    max-width: 580px;
  }
}
@media (min-width: 1920px) {
  .restaurants-box .rst-card {
    max-width: 580px;
  }
}
@media (min-width: 768px) {
  .restaurants-box .rst-card {
    max-width: 580px;
  }
}
.restaurants-box .rst-card .rst-card:hover {
  box-shadow: 0px 0px 20px 0px gray;
  transform: scale(1.05);
}
.restaurants-box .rst-image {
  width: 100%;
  height: 65%;
  overflow: hidden;
}

.rest_img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.rst-button-new {
  width: 77px;
  height: 20px;
  border-radius: 5px;
  background-color: #99e2d0;
  border: hidden;
  cursor: pointer;
  text-align: center;
  color: #3e9b83;
  position: absolute;
  bottom: 200px;
  left: 68%;
}
.rst-button-new .newbuttontxt {
  padding-top: 6px;
  font-family: "Roboto", sans-serif;
  font-style: bold;
}
@media (min-width: 1024px) {
  .rst-button-new {
    left: 80%;
  }
}
@media (min-width: 768px) {
  .rst-button-new {
    left: 80%;
  }
}

.rst-txt {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  padding-left: 1em;
  position: relative;
  width: 80%;
}

.rst-name {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: black;
}

.rst-location {
  padding-top: 0.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  color: black;
}

.lowerthird {
  display: flex;
  flex-direction: row;
}

.heart-icon {
  padding-top: 9%;
  padding-left: 7%;
  position: relative;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .heart-icon {
    padding-top: 5%;
    padding-left: 8%;
  }
}
@media (min-width: 768px) {
  .heart-icon {
    padding-top: 5%;
    padding-left: 9%;
  }
}

.heartempty {
  cursor: pointer;
  font-size: x-large;
  position: absolute;
  color: gray;
  background-color: white;
}
.heartempty:hover {
  animation: heartfade 0s forwards;
}
.heartempty:checked {
  animation: heartfade 0s forwards;
}

.heartfull {
  font-size: x-large;
  position: absolute;
  background-color: transparent;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

/******** Restaurant page ********/
.headerbox {
  padding-bottom: 10px;
}

.page-container {
  width: 100%;
  position: relative;
}
@media (min-width: 1024px) {
  .page-container {
    width: 70%;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .page-container {
    width: 70%;
    margin: auto;
  }
}

.restaurant-image {
  position: relative;
}

.large_img {
  position: absolute;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
@media (min-width: 1024px) {
  .large_img {
    width: 100%;
    height: 420px;
  }
}
@media (min-width: 1200px) {
  .large_img {
    width: 100%;
    height: 420px;
  }
}

.restaurant-menu {
  width: 100%;
  height: auto;
  background-color: rgb(241, 242, 243);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 160px;
  padding-bottom: 20px;
  margin-top: 195px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .restaurant-menu {
    margin-top: 375px;
  }
}
@media (min-width: 1024px) {
  .restaurant-menu {
    margin-top: 350px;
  }
}
@media (min-width: 1200px) {
  .restaurant-menu {
    margin-top: 350px;
  }
}

.restaurant-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuheart-icon {
  justify-content: flex-end;
  margin-bottom: 23px;
  margin-left: 10px;
}
.menuheart-icon .menuheartempty {
  background-color: rgb(241, 242, 243);
}

.restaurants-title {
  font-family: "Shrikhand", sans-serif;
  width: 90%;
}
@media (min-width: 768px) {
  .restaurants-title {
    width: 93%;
  }
}

.menu-container .plat-container:nth-child(1) {
  animation: fadein 0.5s ease forwards;
}
.menu-container .plat-container:nth-child(2) {
  animation: fadein 1s ease forwards;
}
.menu-container .plat-container:nth-child(3) {
  animation: fadein 1.5s ease forwards;
}
.menu-container .plat-container:nth-child(4) {
  animation: fadein 2s ease forwards;
}

.entrees {
  margin-top: 10px;
  font-weight: 200;
  display: inline-block;
  color: black;
}

.restaurant-text {
  position: relative;
}

.restaurant-text::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #99e2d0;
  bottom: -2px;
  left: 0;
}

.restaurant-title {
  font-family: "Shrikhand", sans-serif;
  font-size: 25px;
}
.plat-container {
  width: 100%;
  background-color: white;
  border-radius: 23px;
  padding: 1em;
  display: inline-block;
  margin: 1em auto auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
}
.plat-container:hover .slider {
  transform: translateX(0);
}
.plat-container:hover .plat-content {
  margin-right: 30%;
}

.plat-content {
  width: 70%;
  display: flex;
  align-items: center;
  flex-grow: 1;
  transition: margin-right 0.5s ease-in-out;
}

.plat-box {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  flex-grow: 1;
  width: 50%;
}
.plat-box .plat-name {
  font-weight: 500;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.plat-side {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  padding-top: 7px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.plat-price {
  padding-top: 5%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  align-items: center;
}
@media (min-width: 768px) {
  .plat-price {
    padding-top: 2%;
  }
}
@media (min-width: 1200px) {
  .plat-price {
    padding-top: 1%;
  }
}

.maindish {
  margin-top: 20px;
  font-weight: 200;
}

.desserts {
  margin-top: 20px;
  font-weight: 200;
}

.orderbutton {
  width: 218px;
  height: 50px;
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  background-color: #9356dc;
  border-radius: 39px;
  color: white;
  text-align: center;
  border: hidden;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 2s ease;
  margin-top: 10px;
  display: block;
  margin: 30px auto auto;
}
.orderbutton:hover {
  cursor: pointer;
  background: linear-gradient(to bottom, #ff79da, #c9abee);
  background-color: #c9abee;
  box-shadow: 0px 4px 6px rgb(48, 44, 44);
}
.orderbutton:active {
  background: linear-gradient(to bottom, #ff79da, #c9abee);
  background-color: #c9abee;
  box-shadow: 0px 4px 6px rgb(48, 44, 44);
}

/******** Footer ********/
.footer .footer-box {
  background-color: rgb(91, 89, 89);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 1024px) {
  .footer .footer-box {
    height: 120px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
  }
}
@media (min-width: 1200px) {
  .footer .footer-box {
    height: 120px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
  }
}
.footer .footer-title {
  font-family: "Shrikhand", sans-serif;
  padding-top: 10px;
}
@media (min-width: 1024px) {
  .footer .footer-title {
    padding-bottom: 5px;
  }
}
@media (min-width: 1200px) {
  .footer .footer-title {
    padding-bottom: 5px;
  }
}
.footer .footer-list {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 1024px) {
  .footer .footer-list {
    display: flex;
    gap: 1rem;
    margin-right: 50px;
  }
}
@media (min-width: 1200px) {
  .footer .footer-list {
    display: flex;
    gap: 1rem;
    margin-right: 50px;
  }
}
.footer .utensils {
  color: white;
}
.footer .handshake {
  color: white;
}
.footer #suggest {
  padding-left: 5px;
  color: white;
}
.footer #become {
  color: white;
}
.footer .footer-link {
  color: white;
  text-decoration: none;
}
.footer .footer-link:hover {
  cursor: pointer;
}

/******** Loader page index ********/
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9); /* Fond semi-transparent pour masquer la page */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Place le loader au-dessus de tous les autres éléments */
  animation: hideLoader 0s 3s forwards; /* Cache le loader après 3 secondes */
}

.loader {
  position: relative;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite, change-colors 6s linear infinite;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  border: 8px solid transparent;
  border-top-color: #9356dc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite, change-colors 6s linear infinite;
}

.loader::after {
  border-top-color: #ff79da;
  animation: spin-reverse 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes change-colors {
  0% {
    border-top-color: #9356dc;
  }
  33.33% {
    border-top-color: #ff79da;
  }
  66.66% {
    border-top-color: #99e2d0;
  }
  100% {
    border-top-color: #9356dc;
  }
}
@keyframes hideLoader {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.middle-menu .plat-container:nth-child(1) {
  animation: fadein 2s ease forwards;
}
.middle-menu .plat-container:nth-child(2) {
  animation: fadein 2.5s ease forwards;
}
.middle-menu .plat-container:nth-child(3) {
  animation: fadein 3s ease forwards;
}

.menu-desserts .plat-container:nth-child(1) {
  animation: fadein 3.5s ease forwards;
}
.menu-desserts .plat-container:nth-child(2) {
  animation: fadein 4s ease forwards;
}
.menu-desserts .plat-container:nth-child(3) {
  animation: fadein 4.5s ease forwards;
}

/*# sourceMappingURL=style.css.map */
